<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>

.nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: -webkit-; /* Safari */
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
  text-decoration: none;
  color: white;
}

.topnav-right {
  float: right;
}

body {
 background-image: url("/static/photo.jpeg");
}


</style>
</head>
<body>
    <ul class="nav_ul">
        <li><a href="#chooseferry.html"><i class="fa fa-ship w3-margin-right"></i> Ferry Ticketing System</a></li>
        <div class="topnav-right">
        <li><a href="/manager/"><i class="fa fa-search w3-margin-right"></i> Home</a></li> 
        
        <li><a href="/login/"><i class="fa fa-user-o w3-margin-right"></i> Login</a></li>
        <li><a href="#contact.html"><i class="fa fa-phone w3-margin-right"></i> Contact us</a></li>
        </div>
      </ul>
      
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-12">
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} message"> {{ message }} {% block redirect %} {% endblock %}</div>
                  {% endfor %}
              {% endif %}
              {% block content %}{% endblock %}
              
          </div>
    </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    
    {% block script %}
    {% endblock %}
   
    <script>
        $(document).ready(function() {
            // messages timeout for 10 sec 
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 1000); // <-- time in milliseconds, 1000 =  1 sec
  
            // delete message
          $('.del-msg').live('click',function(){
              $('.del-msg').parent().attr('style', 'display:none;');
          })
        });
      </script>
  
</body>
</html>