{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<style>
body {
 background-image: url("/static/photo.jpeg");
}
.form
{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
width:45%;
margin-left:280px;
padding-bottom:50px;
}
</style>
<body>
<div class="form" >

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Register</legend>
				{{ form | crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="sumbit">Register</button>
			</div>
		</form>

		<div class="border-top pt-3">
			<small class="text-muted">Already have an account? <a class= "ml-1" href="{% url 'login' %}">Login</a></small>
		</div>
	</div>

{% endblock %}


{% block nav %}

	<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
	<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>

{% endblock %}

{% block redirect %}
	<a href="{% url 'register' %}" class="del-msg">&times;</a>
{% endblock %}
