{% extends 'base.html'%}

{% block content %}
   
   <form action="" method="POST">
       {% csrf_token %}
       <input type="date" name="date1" id="today">
       <input type="date" name="date2" id="today">
       <input type="submit" name="Submit" value="Find Ferry" class="btn btn-primary">
       
      <!-- <input type="submit" name="Submit" value="Date2"
       {% if day %}
         {{day}}
       {% endif %}
       <br>
       
       {% if available and formtype == 'Date1'%}
         {% for ferry in available %}
            Ferry_id {{ ferry.id }}<br>
            Date {{ ferry.date }}<br>
            Route id {{ ferry.route_id }}<br>
         {% endfor %}
        
       {% endif %}

        class="btn btn-primary"> -->
       <!-- {% if day %}
         {{day}}
       {% endif %} -->
       <br>
       
       
       <form action="" method="post">
        {% csrf_token %}
        {% if out_available%}
        <fieldset id='outgoing'>
       {% for ferry in out_available %}
       
       <input type="radio" id="{{ forloop.counter }}" name="out_ferry_id" value="{{ ferry.id }}">
       <label for="other">
        Ferry_id {{ ferry.id }}<br>
        source {{ ferry.source }}<br>
        destination {{ ferry.destination }}<br>
        vessel {{ ferry.vessel_name }}<br>
        Date {{ ferry.date }}<br>
        Run id {{ ferry.run_id }}<br>
       </label><br>
       
       {% endfor %}
      </fieldset>
       <!-- <input type="submit" name="Submit" value="Ok" class="btn btn-primary">
    </form> -->
     {% endif %}
     <br>
     {% if out_available%}
       
     <!-- <form action="" method="post">
      {% csrf_token %} -->
      <fieldset id='incoming'>
     {% for ferry in in_available %}
     <input type="radio" id="{{ forloop.counter }}" name="in_ferry_id" value="{{ ferry.id }}">
     <label for="other">
      Ferry_id {{ ferry.id }}<br>
      source {{ ferry.source }}<br>
      destination {{ ferry.destination }}<br>
      vessel {{ ferry.vessel_name }}<br>
      Date {{ ferry.date }}<br>
      Run id {{ ferry.run_id }}<br>
     </label><br>
     
     {% endfor %}
    </fieldset>
     <input type="submit" name="Submit" value="Ok" class="btn btn-primary">
  </form>
   {% endif %}
      
   </form>
  
   
   <!-- <form action="" method="POST">
      {% csrf_token %}
      <input type="date" name="date" id="today">
      <input type="submit" name="Submit" value="Date2" class="btn btn-primary">
      {% if day %}
        {{day}}
      {% endif %}
      <br>
      {% if available and formtype == 'Date2'%}
      
        {% for ferry in available %}
           Ferry_id {{ ferry.id }}<br>
           Date {{ ferry.date }}<br>
           Route id {{ ferry.route_id }}<br>
        {% endfor %}
       
      {% endif %}
  </form> -->
   {% endblock %}
